p {
    line-height: 1.8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.vh-10 {
    height: 10vh;
}
.vh-md-20_30 {
    height: 20vh;
}

.vh-md-20_10 {
    height: 20vh;
}
.vh-md-80_70 {
    height: 80vh;
}
.vw-md-80_70 {
    width: 80vw;
}
.vh-20 {
    height: 20vh;
}

.w-md-50_25 {
    width: 50%;
}

@media (max-width: 768px) {
    .vh-md-20_30 {
        height: 30vh;
    }
    .vh-md-20_10 {
    height: 10vh;
}
.vh-md-80_70 {
    height: 70vh;
}
.vw-md-80_70 {
    width: 70vw;
}
.w-md-50_25 {
    width: 25%;
}
  }

.vh-30 {
    height: 30vh;
}
.vh-40 {
    height: 40vh;
}
.vh-50 {
    height: 50vh;
}
.vh-60 {
    height: 60vh;
}
.vh-70 {
    height: 70vh;
}
.vh-80 {
    height: 80vh;
}
.vh-90 {
    height: 90vh;
}

.vh-300 {
    height: 300vh;
}

.vh-200 {
    height: 200vh;
}

.vh-min-100 {
    min-height: 100vh;
}

.vh-95 {
    height: 95vh;
}


.intro_1 {
    background-image: url("../photo/illustrate-1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
}
.intro_2 {
    background-color: black;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
}

.square-box {
    /* width: 50%; */
    background-color: rgba(255, 255, 255, 0.7);
    /* padding: 40px; */
}


.square-box span {
    /* font-size: 20px; */

}

.page {
    display: none;

}

.active-page {
    display: block;
    /* 顯示當前頁面 */
}

.custom-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    /* 添加其他自訂的樣式 */
}


.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}
.fade-in2 {
    opacity: 0;
    animation: fadeOut 1s ease-in-out forwards;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        color: black;
    }
}
@keyframes fadeIn2 {
    0% {
        opacity: 1;
        color: black;
    }

    100% {
        opacity: 0;
    }
}

.others {

}

.others_none {
    display: none;
}

.bg-black {
    background-color: black;
}

.active-page {
    display: block;
    z-index: 999;
    /* 顯示當前頁面 */
}